body{
    background: linear-gradient(to right bottom, #1b0929, #2c0847)
}

/* NAVBAR */
nav{
    height: 10vh;
}
nav a{
    color: white;
}

.home-search{
    width: 400px;
    background-color: transparent;
    color: white;
    border: none;
}
.form-control::placeholder{
    color:white;
    opacity: 1;
}
.form-control:-ms-input-placeholder, .form-control::-ms-input-placeholder{
    color: white;
}
nav i{
    color:white;
}
.login{
    color:#DC97FF;
}

/* HOME FEATURED/CAROUSEL */

.home-featured{
    background: white;
    background: linear-gradient(to right bottom,
        rgba(80, 80, 80, .7),
        rgba(80, 80, 80, .3)
        );
    backdrop-filter: blur(10rem);
    border-radius: 2rem;
    padding:2rem;
    margin-top: 15vh;
    margin-bottom: 5rem;
    height: 80vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.featured-pic{
    height: 100%;
    width: 30%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: -4px 6px 20px 0 rgba(36, 36, 35, 0.2), 2px 6px 10px 0 rgba(36, 36, 35, 0.2);
}
.featured-info{
    height: 100%;
    width: 50%;
    font-family: 'Source Serif Pro', serif;
    border-radius: 2rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.fi-title-score{
    display: flex;
    flex-direction: row;
}
.fi-score{
    background-color: white;
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
}
.fi-play{
    background: linear-gradient(to bottom,
    #6818a5,
    #8b2fc9);
    color: white;
    border-radius: .3rem;
    box-shadow: -2px 2px 10px rgba(120, 120, 120, .2);
}
.bi-play-fill{
    margin-right:5px;
}
.fi-trailer{
    background: transparent;
    color:white;
    border:1px solid #8b2fc9;
    border-radius: .3rem;
    box-shadow: -2px 2px 10px rgba(120, 120, 120, .2);
}
.bi-film{
    margin-right: 5px;
}
.featured-cd{
    width: 20%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
@media (min-width: 1400px){
    .home-featured{
        height: 65vh;
        width: 85vw;
    }
}