.movie-detail-main{
    width: 98vw;
    height: auto;
    margin-top: 10vh;
    align-items: center;
}
.detail{
    display: grid;
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    grid-template-columns: 40% 30%;
    justify-content: space-between;
    background-size: cover;
    place-items: center;
}
.detail-info{
    width: 100%;
    height: 100%;
    padding-left: 5%;
    color: white;
    z-index: 2;
}
.detail-title-score{
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: 20px;
    #detail-title{
        font-size: 48px;
    }
}
.detail-score{
    width:200px;
    height: 100px;
    border-radius: 50%;
}
.detail-btns{
    padding-bottom: 40px;
    align-items: center;
    a{
        font-size: 18px;
        
    }
    .dt-play{
        width: 120px;
        height: auto;
        margin-right: 30px;
    }
    .dt-trailer{
        width: 160px;
        height: auto;
        margin-left: 30px;
    }
}
.detail-overview{
    padding-bottom: 20px;
    font-size: 36px;
}
.detail-overview-p {
    font-size: 18px;
    line-height: 30px;
    height: 200px;
    width: 700px;
    overflow: auto;
}
.detail-cd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    color: white;
    h2{
        font-size: 36px;
    }
    .cast{
        padding-bottom: 40px;
        line-height: 30px;
    }
    .cast-n{
        list-style-type: none;
        font-size: 18px;
    }
    .watch{
        line-height: 30px;
    }
    .watch-n{
        font-size: 18px;
    }

}
.detail-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left bottom, rgba(0,0,0,0), rgba(0,0,0, .8)),
                linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.25));
}

//SUGGESTED SLIDER

.sugg-album-row{
    margin-top: 10vh;
    overflow: visible;
}

@media screen and (min-width:0px)and (max-width: 600px)
{
    .detail{
        margin-top:50%; 
        grid-template-columns: 100%;
        align-items: baseline;
    }
    .detail-title-score{
        #detail-title{
            font-size: 48px;
        }
    }
    .detail-btns{
        padding-bottom: 40px;
        align-items: center;
        a{
            font-size: 16px;
            
        }
        .dt-play{
            width: 100px;
            height: auto;
            margin-right: 10px;
        }
        .dt-trailer{
            width: 160px;
            height: auto;
            margin-left: 10px;
        }
    }
    
    .detail-overview{
        padding-bottom: 10px;
        font-size: 32px;
    }
    .detail-overview-p {
        font-size: 16px;
        line-height: 30px;
    }
    
    .detail-cd{
        left: 20%;
        .cast{
            display: none;
        }
        .watch{
            .watch-n{
                display: inline-block;
                padding-right: 10px;
                overflow-wrap: normal;
            }
        }
    }
}
@media screen and (min-width:600px) and (max-width: 767px)
{
    
}
@media screen and (min-width:768px)and (max-width: 991px)
{
    
}
@media screen and (min-width:992px) and (max-width: 1199px)
{
    .detail{
        margin-top:30%; 
        grid-template-columns: 40% 30%;
        justify-content: space-between;
        background-size: cover;
        place-items: center;
       
    }
    .detail-pic{
        height: 60%;
        object-fit: cover;
    }
    .overlay{
        height: 60%;
    }
}
@media screen and (min-width:1400px)
{
    .detail{
        grid-template-columns: 30% 30%;
        padding-top: 30vh;
    }
    .detail-btns{
        .dt-trailer{
            width: 180px;
            margin-left: 30px;
        }
    }
}