

.display-main{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10vh;
    width: 84%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    h1{
        color: white;
    }
}
.genres-row{
    height: 200px;
    width: 100%;
    margin-bottom: 10vh;
    .swiper-container{
        overflow: visible;
    }
    .swiper-wrapper{
        width: inherit;
        display: flex;
        justify-content: space-between;
    }
    .genre-box{
        height: 80%;
        width: 180px;
        border: none;
        border-radius: .5rem;
        box-shadow:  0px 26px 30px -10px rgba(0, 0, 0, .69),  0px 16px 10px -10px rgba(0, 0, 0, .73);
    }
    .genre-title{
        font-size: 24px;
    }
    .genre-deactive{
        color: #d283ff;
        background: linear-gradient(to right bottom,
        rgba(172, 172, 172, .5),
        rgba(172, 172, 172, .2)
        );
        }
    .genre-active{
        color: #e9ecef;
        background: linear-gradient(to right bottom,
        rgba(139, 47, 201, .7),
        rgba(55, 1, 96, .5)
        );
    }
}
.shows-container{
    margin-top: 20px;
}
.active-genre-title{
    color: white;
}
.active-genre{
    margin-bottom: 2em;
}
.display-album-container{
    width: 100%;
    height: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
}
.display-g-card{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 90% auto;
    grid-template-areas: "image" 
                         "gc-title";
    transition: ease-in .3s;
    overflow: hidden;
}
.display-g-card:hover{
    transform: scale(1.1);
    z-index:10;
    .display-card-title{
        font-size: 1.2rem;
        color: white;
        display: block;
    }
    .display-image-container{
        opacity: .6;
    }
}
.display-image-container{
    grid-area: image;
    object-fit: contain;
    padding: 5px;
}
.display-card-title{
    font-size: 1.2rem;
    color: rgba(255,255,255,.6);
    position: absolute;
    bottom: 10px;
    left: 16px;
    display: none;
}
.display-card-pic{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    box-shadow: -8px 26px 30px -10px rgba(0, 0, 0, .69), 0 10px 10px -5px rgba(0, 0, 0, .73);
}

@media screen and (min-width:0px)and (max-width: 420px){
    .genres-row{
        height: 120px;
        width: 100%;
        .swiper-wrapper{
            width: inherit;
            display: flex;
            justify-content: space-between;
        }
        .genre-box{
            height: 100%;
            width: 140px;
            .genre-title{
                font-size: 20px;
            }
        }
    }
    .display-album-container{
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-content: space-between;
    }
    .display-g-card{
        height: 100%;
    }
    .display-card-title{
        display: block;
        font-size: 18px;
        color: white;
        display: none;
    }
}